extends _layout
block content
    article
        h1 Novadu koks
        
        ul
            li: a(href="/tree/2") Aglonas
            li: a(href="/tree/3") Aizkraukles
            li: a(href="/tree/4") Aizputes
            li: a(href="/tree/5") Aknīstes
        
        pre <?php print_r($t) ?>